---
import servicio1 from "@/assets/servicios/servicio1.webp";
import servicio2 from "@/assets/servicios/servicio1.webp";
import servicio3 from "@/assets/servicios/servicio3.webp";
import servicio4 from "@/assets/servicios/servicio4.webp";
import servicio5 from "@/assets/equipo/caroline.webp";
import { Image } from "astro:assets";
import Typography from "./Typography.astro";
const servicios = [
  {
    titulo: "Potenciales Evocados Visuales",
    imagen: servicio1,
  },
  { titulo: "Electromiografía", imagen: servicio2 },
  {
    titulo: "Potenciales Evocados Auditivos",
    imagen: servicio3,
  },
  { titulo: "Neuroconducción", imagen: servicio4 },
  {
    titulo: "Electroencefalograma",
    imagen: servicio5,
  },
];
---

<section class="bg-white pt-5 pb-5">
  <div class="max-w-6xl mx-auto text-center">
    <Typography as="h1" variant="bigger" color="secondary">
      Servicios <span class="font-extrabold">Generales</span>
    </Typography>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8 max-w-6xl mx-auto px-4"
  >
    {
      servicios.map((servicio) => (
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
          <Image
            src={servicio.imagen}
            alt={servicio.titulo}
            class="w-full h-60 object-cover"
          />
        </div>
      ))
    }
  </div>
</section>
