---
const text1 = Astro.props.text1;
const text2 = Astro.props.text2;
const classname = Astro.props.classame || "";
---

<div class={classname + "text-violeta text-center md:text-left"}>
  <h1
    class="font-medium text-4xl sm:text-6xl md:text-7xl lg:text-8xl leading-tight"
  >
    {text1}
  </h1>
  <h2
    class="font-extrabold text-4xl sm:text-6xl md:text-7xl lg:text-8xl leading-tight"
  >
    {text2}
  </h2>
</div>
