---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>CNKessler</title>
  </head>
  <body>
    <Header />
    <div id="container">
      <main>
        <slot />
      </main>
    </div>

    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
      #container {
        font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
          "Nimbus Sans", Arial, sans-serif;
        height: 100%;
        width: 100%;
      }

      main {
        height: 100%;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
